<style></style>

<main class="">
  <section>
    <div
      class="w-full rounded-lg bg-gray-600 shadow sm:max-w-md md:mt-0 xl:p-0 dark:border dark:border-violet-400 dark:bg-violet-700"
    >
      <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
        <h1
          class="font-aller text-xl font-bold leading-tight tracking-tight text-background md:text-2xl dark:text-foreground"
        >
          Sign in to your account
        </h1>
        <form class="space-y-4 uppercase md:space-y-6" action="#">
          <div>
            <label for="email" class="auth-label">email</label>
            <input type="email" name="email" id="email" class="crud-input" placeholder="play@crud.ng" required="" />
          </div>
          <div>
            <label for="password" class="auth-label">password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="crud-input"
              required=""
            />
          </div>
          <button type="button" class="auth-button">Sign in</button>
          <p class="text-sm font-light text-background dark:text-foreground">
            Don’t have an account yet?
            <a href="#" class="dark:text-primary-500 font-medium text-yellow-200 hover:underline">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </section>
</main>

<router-outlet />
